
h2{
    text-align : center;
}

:root{
    --primary-color: #8ecae6;
    --sec-color: white;
    --thr-color:#023047;
    --fourth-color:#074564;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--sec-color);
}
.container{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--thr-color);
}

.parameters{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.filter{display: none;}
.fa-check{
    border-radius: 50%;
    padding: 3px;
    margin: 6px;

}
.fa-check:hover{
    background-color:#106590 ;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .fa-check{
    background-color: var(--primary-color);
    color: var(--thr-color);
}
.check{
    border: none;
    border-radius: 29px;
    
    color: var(--sec-color);
    padding: 10px;
    margin: 5px;
    background-color: var(--fourth-color);

}
.nbr-caracters{
    padding: 10px;
    margin: 20px;
    background-color: var(--fourth-color);
    border: none;
    outline: none;
    border-radius: 29px;
    color: white;
}

.password{
    height: 30px;
    width: 50%;
    margin: 5px;
    background-color: var(--fourth-color);
    border-radius: 29px;
    
}
.gen-btn{
    margin: 10px;
    padding: 10px;
    width: 80%;
    border-radius: 29px;
    border: none;
   background: linear-gradient(135deg, #074564, #8ecae6);
   
color: white;

}
.gen-btn:hover{
    transform: translateY(-5px);
    transition: 0.6s;

}
